/histograms/code/histogram_2.csv

/image_csv_files

Raw_patient_data

Archive/Raw_patient_data
Archive/image_csv_files
Archive/histograms/results/patient_histograms/CSV
Archive/histograms/results/overlay_histograms/CSV
Archive/histograms/results/cumulative_histograms/CSV
/Archive/histograms/code/histogram_2.csv
